<%= render  "pages/navigation" %>
<%= render "recipes/showpage" %>


    <div class="page-image-header"  style="background-image: url(<%= asset_path 'footerbg.jpg' %>);">
        <div class="recipe-image-overlay">
            <div class="main-content-wrapper recipe-image">
                <div class="recipe-summary-block w-clearfix" data-ix="fade-in-on-load-3">
                    <div class="recipe-summary-item-block">
                     
                        <%= image_tag "icon1.png" , :alt => "" , :class => "recipe-summary-icon" %> 
                  
                        <div class="description recipe-summary-title">Title</div>
                        <div class="recipe-summary-title"><%= @recipe.title %></div>
                    </div>
                    <div class="recipe-summary-item-block">
                        <%= image_tag "icon_2.png" , :alt => "" , :class => "recipe-summary-icon" %> 
                        <div class="description recipe-summary-title">Description</div>
                        <div class="recipe-summary-title"><%= @recipe.description %></div>
                    </div>
                    <div class="recipe-summary-item-block">
                    <%= image_tag "icon_3.png" , :alt => "" , :class => "recipe-summary-icon" %> 
                        <div class="description recipe-summary-title">Category</div>
                        <div class="recipe-summary-title"><%= @recipe.category %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="main-content-wrapper">
            <div class="recipe-row w-row">
                <div class="recipe-column-left w-col w-col-5">
                    <div class="sidebar-block">
                        <div class="block-title">Ingredients:</div>
                        <div class="ingredients-text-block w-richtext">
                            <ul>

                            <% for recipe in @recipe.steps %>
                                
                                <li><strong><%= recipe.id %>&nbsp;</strong><%= recipe.direction %></li>
                              
                            <% end %>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-block">
                        <div class="block-title">Needed:</div>
                        <div class="ingredients-text-block w-richtext">
                            <ul>
                                <li>Blender</li>
                                <li>Grill pan</li>
                            </ul>
                        </div>
                    </div>

                    <%= link_to 'Download', recipe_download_recipe_path(@recipe), class: "btn btn-success center" %>
                    <%= link_to 'Back', recipes_path , class: "btn btn-warning center" %>

                </div>
                <div class="recipe-column-right w-col w-col-7">
                    <div class="recipe-content-block">
                        <h1 class="recipe-intro-title">Instructions</h1>
                        <div class="recipe-video-block">
                            <div class="recipe-video w-embed w-video">
                            <%= image_tag(@recipe.image, style:"width: 100%; border-radius:5px;") if @recipe.image.attached? %>
                            </div>
                        </div>
                        <div class="recipe-rich-text-block w-richtext">

                          <% for recipe in @recipe.steps %>
                                
                                 <p><strong> <%= recipe.id %>.&nbsp;</strong> <%= recipe.direction %>&nbsp;</p>
                              
                          <% end %>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section tint">
        <div class="main-content-wrapper">
            <div class="w-row">
                <div class="recipe-by-column-left w-col w-col-5 w-col-stack">
                    <div class="recipe-by-block w-clearfix">
                            <%= image_tag "matthew.png" , :alt => "" , :class => "recipe-author-profile" %> 
                        <div class="recipe-by-title">This is a recipe by</div>
                        <div class="name recipe-by-title">Aritha Franklin</div><a class="view-all"
                            href="/cooks/akira-johnson">View all my recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section tint">
      <h3>Comments</h3>
      <%= render partial: 'comments/form', locals: { commentable: @recipe} %>
      <%= render @recipe.comments %>
    </div>
